@model Enfermo
@{ 
    List<Genero> generos = ViewBag.generos as List<Genero>;
}
<h2 class="my-5">Insertar enfermo</h2>
<form method="post">
    <label>Inscripcion: </label>
    <input class="form-control" type="number" readonly value="@Model.Inscripcion" name="inscripcion" />
    <label>Apellido: </label>
    <input class="form-control" type="text"value="@Model.Apellido" name="apellido" />
    <label>Direccion: </label>
    <input class="form-control" type="text"value="@Model.Direccion" name="direccion" />
    <label>Fecha nacimineto: </label>
    <input class="form-control" type="date" value="@Model.Fechanac" name="fechanac" />
    <label>Sexo: </label>
    <select name="sexo" class="form-select">
        @foreach (Genero g in generos)
        {
            if (@g.Value == Model.Sexo.ToLower())
            {
                <option selected value="@g.Value">@g.Text</option>

            }
            else
            {
                <option value="@g.Value">@g.Text</option>

            }
        }
    </select>
    <label>Seguridad social: </label>
    <input class="form-control" type="text"value="@Model.SeguridadSocial" name="seguridadsocial" />

    <button type="submit" class="btn btn-success my-5">actualizar</button>
</form>