@model List<EmpleadoHospital>

@Html.ActionLink("Procedimiento", "ProcedimientoEmpleado", "EmpleadosHospital", null, new { @class="btn btn-success my-4"})

<table class="table text-white table-dark my-5">
    <thead>
        <tr>
            <th>Numero empleado</th>
            <th>Apellido</th>
            <th>Funcion</th>
            <th>Salario</th>
            <th>Codigo Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EmpleadoHospital eh in Model)
        {
            <tr>
                <td>@eh.IdEmpleado</td>
                <td>@eh.Apellido</td>
                <td>@eh.Funcion</td>
                <td>@eh.Salario</td>
                <td>@eh.HospitalCod</td>
            </tr>
        }
    </tbody>
</table>