@model ResumenPlantilla

<h2>Buscar por salario</h2>
<form method="post">
    <label>Salario</label>
    <input name="salario" type="text" class="form-control" />
    <button class="btn btn-info">buscar</button>
</form>

<h2>Plantilla</h2>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Salario</th>
            <th>Funcion</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.plantilla != null)
        {
            <h2>Maximo: @Model.max</h2>
            <h2>Minimo: @Model.min</h2>
            <h2>Personas: @Model.cantidad</h2>
            @foreach (Plantilla p in Model.plantilla)
            {
                <tr>
                    <td>@p.Apellido</td>
                    <td>@p.Salario</td>
                    <td>@p.Funcion</td>
                </tr>
            }
        }
        else
        {
            <h2 style="color:red" class="my-3">No hay Plantilla</h2>
        }

    </tbody>
</table>